*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
!debug.keystore
local.defaults.properties
/app/build/
/app/release/
.claude/settings.local.json
